.bayan__page {
    background-color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    line-height: 2rem;
    font-weight: 500;
    min-width: 16rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.bayan__list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding-left: 0;
    width: 80%;
}

@media screen and (min-width: 820px) {
    .bayan__page {
        font-size: 1.3rem;
    }

    .bayan__img {
        width: 30%;
    }
}

.bayan__text {
    position: relative;
}

.bayan__svg {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.bayan__svg--close {
    display: none;
    position: absolute;
    top: 50%;
    right: 0.2rem;
    transform: translateY(-50%);
}

.bayan__input:checked+.bayan__label .bayan__svg--close {
    display: block;
}

.bayan__input:checked+.bayan__label .bayan__svg {
    display: none;
}

.bayan__label {
    padding-top: 2%;
    padding-bottom: 2%;
    cursor: pointer;
    color: blue;
    display: flex;
    flex-direction: column;
}

.bayan__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
    border-top: 0.1rem solid darkgrey;
}


.bayan__text {
    padding-right: 5rem;
}

.visually-hidden {
    position: absolute;
    width: 0.05rem;
    height: 0.05rem;
    margin: -0.05rem;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.bayan__img {
    height: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.bayan__input:checked+.bayan__label .bayan__img {
    height: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.bayan__input:checked+.bayan__label {
    color: black;
}

@media screen and (min-width: 1920px) {
    .bayan__page {
        font-size: 1.6rem;
    }

    .bayan__img {
        width: 40%;
    }

    .bayan__svg--close {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in;
    }

    .bayan__input:checked+.bayan__label .bayan__text .bayan__svg--close {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in;
    }

    .bayan__input:checked+.bayan__label .bayan__img {
        opacity: 1;
    }

    .bayan__svg {
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in;
    }

    .bayan__list:hover .bayan__label {
        color: black;
    }

    .bayan__item:hover .bayan__img {
        height: 100%;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5rem;
        opacity: 1;
    }


    .bayan__list:hover .bayan__label .bayan__text .bayan__svg {
        display: block;
        opacity: 1;
    }

    .bayan__list:hover .bayan__input:checked+.bayan__label .bayan__text .bayan__svg {
        display: none;
        opacity: 1;
    }

    .bayan__list:hover .bayan__input:checked+.bayan__label .bayan__text .bayan__svg--close {
        display: block;
        opacity: 1;
    }

    .bayan__item:active .bayan__img {
        height: 100%;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5rem;
        opacity: 1;
    }

    .bayan__item:active .bayan__img {
        opacity: 0.6;
    }

    .bayan__item:active .bayan__label {
        opacity: 0.6;
        color: blue;
    }

    .bayan__list:hover .bayan__input:checked .bayan__label {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: pink;
        background-image: url('img/close.svg');
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 50%;
    }

    .bayan__list:hover .bayan__input:checked .bayan__label .bayan__text {
        display: none;
    }

    .bayan__item:active .bayan__input:checked+.bayan__label {
        color: blue;
        opacity: 0.6;
    }

    .bayan__item:active .bayan__input:checked+.bayan__label .bayan__text .bayan__svg--close {
        fill: blue;
        opacity: 1
    }

    .bayan__item:active .bayan__label .bayan__text .bayan__svg--close {
        fill: blue;
    }


    .bayan__item:hover .bayan__label .bayan__text .bayan__svg {
        display: none;
        opacity: 1;
    }

    .bayan__item:hover .bayan__label .bayan__text .bayan__svg--close {
        display: block;
        opacity: 1;
    }

}